<mat-card class="profile-mobile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>Luigi Loreno</mat-card-title>
      <mat-card-subtitle>Student</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.6435-9/94030538_2111538625659559_2730329689527681024_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_eui2=AeHuMAWX7EezvIbTa_T5-H6c-kzxJLs7E0X6TPEkuzsTRS4xQi6PhKiWZEmmH3vfShQdADdZDpLJEsO0cPIInONX&_nc_ohc=lv6z6ZKVZxcAX-UX29E&_nc_ht=scontent.fmnl4-6.fna&oh=879f4fa8937b8f6f82ff562965fcf975&oe=619CDFF1" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Hi, I am Luigi Loreno BSIT 3E
      </p>
      <mat-divider></mat-divider>
      <div class="inf qq"><mat-icon>face</mat-icon>28 years old</div>
      <div class="inf ee"><mat-icon>room</mat-icon>Brgy. 109A, Tacloban City</div>
      <div class="inf ee"><mat-icon>room</mat-icon>Eastern Visayas State University</div>
      <mat-chip-list class="chip">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>  
        <mat-chip color="primary" selected>Angular</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  
  </mat-card>
  
  
  <mat-card class="profile-desk-card">
    <mat-card-title-group>
      <mat-card-title>Luigi Loreno</mat-card-title>
      <mat-card-subtitle>Student</mat-card-subtitle>
      <img mat-card-lg-image mat-card-avatar src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.6435-9/94030538_2111538625659559_2730329689527681024_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_eui2=AeHuMAWX7EezvIbTa_T5-H6c-kzxJLs7E0X6TPEkuzsTRS4xQi6PhKiWZEmmH3vfShQdADdZDpLJEsO0cPIInONX&_nc_ohc=lv6z6ZKVZxcAX-UX29E&_nc_ht=scontent.fmnl4-6.fna&oh=879f4fa8937b8f6f82ff562965fcf975&oe=619CDFF1" >
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Hi, I am Luigi Loreno BSIT 3E
      </p>
      <mat-divider></mat-divider>
      <div class="inf qq"><mat-icon>face</mat-icon>28 years old</div>
      <div class="inf ee"><mat-icon>room</mat-icon>Brgy. 109A, Tacloban City</div>
      <div class="inf oo"><mat-icon>room</mat-icon>Eastern Visayas State University</div>
      <mat-chip-list class="chip">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip color="primary" selected>Angular</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>